html,body{
  overflow-x: visible;
  overflow-y: hidden;
  font-family: 'Trebuchet MS', sans-serif;
  min-height: 100svh;
  background-attachment: fixed;
  margin: 0px;
}
body::-webkit-scrollbar {
  display: none;
} 
  
.bg {
  background: linear-gradient(0deg, #00000B 0%, #30303B 85%, #40404B 100%);
  width: 100%;
  bottom: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
}

#button {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}