table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

#add-entry-form {
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:10%;
  width:100%;
  background:#999;
  border-left: 20px #000;
  border-right: 20px #000;
}

#plus {
  position:relative;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;

  left:0px;
  bottom:0px;
  width:49.5%;
  height:100%;

  background:#900;
  border-left: 20px #000;
  border-right: 20px #000;
}

#minus {
  position:relative;
  float:right;
  display: flex;
  justify-content: center;
  align-items: center;

  left:0px;
  bottom:0px;
  width:49.5%;
  height:100%;

  background:#900;
  border-left: 20px #000;
  border-right: 20px #000;
}

#line {
  position:relative;
  float: left;
  border-style: solid;
  left:0px;
  bottom:0px;
  border-width: 20px;
  width: 1%;
  height: 100%;
}