

html,body{
  overflow-x: hidden;
  background-color: #222;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

#add-entry-form {
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

#session-container {
  position: relative;
  width: 100%;
}

#button-holder {
  position: relative;
  width: 100%;
  left: 0px;
}

#circle-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;

  font-size: 10vw;
  font-weight: bold;



  border: 0.5vw solid black;
  border-radius: 100%;

  transition: all 250ms;
  transition-timing-function: ease-in-out;
}

#circle-button[data-status="box"] {
  
  background-color: #333;
  color: rgba(0, 0, 0, 0);

  height: 90vh;
  width: 90vw;
  bottom: 5%;
  left: 5%;

  position: float;


  border-radius: 1vmin 1vmin;
  border: 0.2vw solid black;
}

#circle-button[data-status="button"] {
  color: #000;

  bottom: 2vw;
  left: 71vw;
  width: 25vw;
  height: 25vw;

  position: fixed;


  border: 1vw solid black;
  border-radius: 100%;
}

.sesscont {
  float: bottom;
  height: 75px;
  width: 100%;
  padding-bottom: 7px;
  padding-top: 7px;

}

.sessboxcont {
  height: 100%;
  
  border: 2px solid black;
  border-radius: 25px;

  background-color: #112933;
}

.daytime-img {
  height: 74px;
  position: relative;
  float: left;
  display: flex;
  border: 2px solid black;
  border-radius: 30%;

  translate: -1px -1px;
}

.box-cont {
  position: relative;
  float: left;

  width: 50%;
  height: 100%;
}

.sess-info {
  position: relative;
  display: flex;
  align-items: center;
  
  width: 100%;
  padding-left: 15px;

  color: #999;
}

.date-box {
  height: 35%;

  font-size: 20px;
}

.exc-box {
  height: 65%;

  font-size: 13px;
  font-style: italic;
}

.weight-box {
  position: relative;
  float: left;
  display: flex;
  align-items: center;

  height: 100%;

  padding-left: 20px;

  color: #999;
  font-size: 16px;
}